:root{
    --primaryColor: #68625e;
    --lightColor: #FFEDED;
}

body{
    background-color: #946c80;
}

.h3{
    font-size: 43px;
    margin: auto;
}

.background-primary{
    background-color: var(--primaryColor);
}

.backgroundlight{
    background-color: var(--lightColor);
}

.txtprimary{
    color: var(--primaryColor);
}
.result{
    font-family: Arial, Helvetica, sans-serif;
}

.h2{
    color: lightseagreen;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
}

#displayQuestion{
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn-success{
    width: 200px;
font-size: 23px;
}


.center{
    display: grid;
    width: 400px;
    
}



#start{
width: 200px;
font-size: 23px;
}